.container{
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;
}
.title{
    text-align: center;
    margin: 0;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.card{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.comment{
    font-size: 20px;
    font-weight: 300;
}
.Avatar{
    border-radius: 50%;
}
.info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    line-height: 1px;

}
.personal{
    display: flex;
    align-items: center;
}
.name{
    font-weight: bold;
    color: #555;
}
.jobTitle{
    font-size: 14px;
}

@media screen and (max-width: 480px) {
    .container{
        height: auto;
    }
    .wrapper{
        flex-direction: column;
    }
    .card{
        padding: 20px;
        width: auto ;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    
}

